<div id="key" class="{{type}}">
	<span id="keydisplay">{{character}}</span>
</div>
{{#if phrase}}
<audio id="phrase" preload="auto">
	<source src="https://api.voicerss.org/?key=7b35ee1de4114fe59052576dc8a982f1&f=44khz_16bit_mono&hl=en-gb&src={{phrase}}" type="audio/mpeg"/>
</audio>
{{/if}}
{{#if example}}
<audio id="example" preload="auto">
	<source src="https://api.voicerss.org/?key=7b35ee1de4114fe59052576dc8a982f1&f=44khz_16bit_mono&hl=en-gb&src={{example}}" type="audio/mpeg"/>
</audio>
{{/if}}
{{#if retry}}
<audio id="retry" preload="auto">
        <source src="https://api.voicerss.org/?key=7b35ee1de4114fe59052576dc8a982f1&f=44khz_16bit_mono&hl=en-gb&src={{retry}}" type="audio/mpeg"/>
</audio>
{{/if}}
