<div id="key" class="{{type}}">
	<span id="keydisplay">{{character}}</span>
</div>
{{#if phrase}}
<audio id="phrase" preload="auto">
	<source src="http://tts-api.com/tts.mp3?q={{phrase}}" type="audio/mpeg"/>
</audio>
{{/if}}
{{#if example}}
<audio id="example" preload="auto">
	<source src="http://tts-api.com/tts.mp3?q={{example}}" type="audio/mpeg"/>
</audio>
{{/if}}
{{#if retry}}
<audio id="retry" preload="auto">
        <source src="http://tts-api.com/tts.mp3?q={{retry}}" type="audio/mpeg"/>
</audio>
{{/if}}
