body {
	font-family: Comic Sans, Comic Sans MS, cursive;
	background-color: #FFEEDD;
	margin: 0px;
	padding: 0px;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	font-size: 2em;
}

h2 {
	text-align: center;
}

section {
	clear: both;
	width: 100%;
}

article {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}

article > div {
	display: inline-block;
	vertical-align: top;
}

#scores {
	text-align: center;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	padding: 10px;
}

.score {
	display: inline-block;
	margin: 10px;
}

.character {
	display: inline-block;
	width: 21px;
	height: 21px;
	text-align: center;
	border-radius:4px;
	border-style:solid;
	border-width:6px;
}

.value {
	display: inline-block;
}

#gamecomplete {
	margin-top: 20px;
	padding-top:50px;
	padding-right: 150px;
	padding-left: 150px;
	width: 680px;
	height: 600px;
	background-image: url(../images/moon.png);
	background-position-x: 190px;
	background-repeat: no-repeat;
}

#rocket {
	position: relative;
	top: 260px;
	padding-top: 50px;
	font-size: 30px;
	color: #AAAAAA;
	text-align: center;
	width: 120px;
	height: 560px;
	margin: 30px;
	background-repeat:no-repeat;
	background-image:url(../images/rocket-full.png);
}

#key {
	width: 400px;
	height: 400px;
	text-align: center;
	border-radius:25px;
	border-style:solid;
	border-width:80px;
	margin:30px;
	margin-right:210px;
}

#keydisplay {
	font-size: 250px;
}
